<div class="alert alert-warning alert-group">
    <div class="form-inline">
        <select [(ngModel)]="group.operator" (change)="setGroup()" class="form-control input-sm" style="font-size: 14px">
            <option value="AND">AND</option>
            <option value="OR">OR</option>
        </select>
        <button style="margin-left: 5px;font-size: 14px;" (click)="addCondition()" class="btn btn-sm pink-btn"> Add Condition</button>
        <button style="margin-left: 5px;font-size: 14px;" (click)="addGroup()" class="btn btn-sm red-btn"> Add Group</button>
        <button style="margin-left: 5px;font-size: 14px;" *ngIf="grpIndex != undefined && grpIndex !== null" (click)="removeGroup()" class="btn btn-sm red-btn"> Remove Group</button>
    </div>
    <div class="group-conditions">
        <div *ngFor="let rule of group.rules;let i = index;" class="condition">
            <div [ngSwitch]="rule.hasOwnProperty('group')">
                <div *ngSwitchCase="true">
                    <query-builder [group]="rule.group" [parentGrp]="group" [grpIndex]="i" (groupChange)="ongroupChanged($event)"></query-builder>
                </div>
                <div *ngSwitchDefault>
                    <div class="form-inline">
                        <div class="row">
                            <div class="col-sm-4 mt-3" *ngIf="!rule.field">
                                <div class="bordered-box">
                                    <div class="" dnd-droppable [dropZones]="['ruleFieldZone']" (onDropSuccess)="(rule.field = ($event.dragData.parenttype == 'Feeds' ? $event.dragData.paramName : $event.dragData.name));setGroup()">
                                         <p><i class="fa fa-arrows"></i> Drag Here </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-3 drag-rule" *ngIf="rule.field">
                                <div class="drag-block" style="text-transform: none;">
                                    <div dnd-droppable [dropZones]="['ruleFieldZone']">
                                         <div class="rule_name"><i class="fa fa-arrows"></i> {{rule.field}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--for conditions-->
                            <div class="col-sm-3 mt-3">
                                <select style="margin-left: 5px" (change)="setGroup()" [(ngModel)]="rule.condition" class="form-control input-sm">
                                    <option *ngFor="let c of conditions">{{c.name}}</option>
                                </select>
                            </div>
                            <!--for conditions end-->
                            <div class="col-sm-3 mt-3 pl-0">
                                <input (change)="setGroup()" style="margin-left: 5px" type="text" [(ngModel)]="rule.data" class="form-control input-sm"/>
                            </div>
                            <div class="col-sm-1 pl-0">
                                <button style="margin-left: 5px" (click)="removeCondition(i)" class="mar-top-21 btn btn-sm btn-danger">
                                    <span class="fa fa-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>