@font-face {
    font-family: 'gt_walsheim_regularregular';
    src: url('gt-walsheim-regular-webfont.woff2') format('woff2'),
         url('gt-walsheim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_boldregular';
    src: url('gt-walsheim-bold-webfont.woff2') format('woff2'),
         url('gt-walsheim-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}