<div id="menuJ" class="row">
    <div class="heading-main row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item bigFS"> Deployment Request</li>
            <ng-container *ngFor="let library of libraryList;let i=index">
                <li class="breadcrumb-item" *ngIf="library.checked === true" (click)="selectMainNav(i+1)">
                    <span [ngStyle]="{'font-weight': ((i+2) == mainSelectedTab ? 'bold' : 'normal')}">{{library.value}}</span>
                </li>
            </ng-container>
            <li class="breadcrumb-item"> Deploy</li>
        </ul>
        <div class="dr-header pull-right" *ngIf="mainSelectedTab == 2"> Select one or more Event Detector to Deploy</div>
        <div class="dr-header pull-right" *ngIf="mainSelectedTab == 3"> Select one or more Workflows to Deploy</div>
        <div class="dr-header pull-right" *ngIf="mainSelectedTab == 4"> Select one or more Use Cases to Deploy</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box-main expand-big mainTopTable">
            <div class="right-side-table" style="position: relative;">
                <ul id="mainTabUl" class="nav nav-tabs" role="tablist" [hidden]="mainSelectedTab > 1 && mainSelectedTab < 5">
                    <li class="nav-item" *ngFor="let maintab of mainTabs;let i =index;">
                        <a *ngIf="maintab.active && i < 2" role="tab" data-toggle="tab" class="nav-link" [ngClass]="{active:maintab.active}"> {{maintab.title}}</a>
                        <a *ngIf="mainSelectedTab > 4 && i > 4" role="tab" data-toggle="tab" class="nav-link" [ngClass]="{active:maintab.active}"> {{maintab.title}}</a>
                    </li>
                </ul>
                <div id="tabContentMainDiv" class="tab-content panelJ" style="overflow-y: hidden;" (window:resize)="changeSizeFromViewPort()"
                    (on-init)="changeSizeFromViewPort()">
                    <div class="tab-pane tab-pane1 fade in style-4" style="overflow-y: auto;" [ngClass]="{active:mainSelectedTab == 0,show:mainSelectedTab == 0}"
                        role="tabpanel">
                        <div class="col-md-12 eventCreatForm pdt-20">
                            <div class="eventCreatFormTitle">
                                <h5>Select Where to Deploy</h5>
                                <p>Description Example</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="clearfix"></div>
                            <div class="radio-group deploymentRequest">
                                <ul>
                                    <li>
                                        <input type="radio" name="success" id="n-optionProd" value="Production" [(ngModel)]="selectedEnv">
                                        <label class="radio-label" for="n-optionProd">Production <span>Description Example</span></label>
                                        <div class="check-radio"></div>
                                    </li>
                                    <li>
                                        <input type="radio" name="success" id="r-optionSimul" value="Simulation" [(ngModel)]="selectedEnv">
                                        <label class="radio-label" for="r-optionSimul">Simulation <span>Description Example</span></label>
                                        <div class="check-radio">
                                            <div class="inside"></div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="box-footer-deploy">
                            <div class="float-right">
                                <button class="white-btn" type="button" (click)="cancelEvnSelection()" [disabled]="selectedEnv === ''">Cancel</button>
                                <button style="float: right;margin-left: 5px" [ngClass]="{'white-btn':selectedEnv === '','pink-btn':selectedEnv !== ''}"
                                    [disabled]="selectedEnv === ''" type="button" (click)="selectMainNav(0)">Next &nbsp;&nbsp;<i style="font-size: 11px;" class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane tab-pane1 fade in style-4" style="overflow-y: auto;" [ngClass]="{active:mainSelectedTab == 1,show:mainSelectedTab == 1}"
                        role="tabpanel">
                        <div>
                            <div class="col-md-12 eventCreatForm pdt-20">
                                <div class="eventCreatFormTitle">
                                    <h5>Select What to Deploy</h5>
                                    <p>Description Example</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="clearfix"></div>
                                <ul class="deploymentRequest-ul">
                                    <li *ngFor="let library of libraryList;let i=index;">
                                        <div class="deploymentRequest-checkbox">
                                            <input [(ngModel)]="library.checked" type="checkbox" name="checkbox{{i}}" id="checkbox{{i}}" class="css-checkbox" />
                                            <label for="checkbox{{i}}" class="css-label">{{library.name}}</label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <!-- Tabbed Footer Button -->
                        <div class="box-footer-deploy">
                            <div class="float-right">
                                <button style="font-size: 14px;" *ngIf="libraryList[0].checked" class="pink-btn deploy-pink-btn" type="button" (click)="selectMainNav(1)">Event Detectors &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
                                <button style="font-size: 14px;" *ngIf="!libraryList[0].checked && libraryList[1].checked" class="pink-btn deploy-pink-btn"
                                    type="button" (click)="selectMainNav(2)">Workflows &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
                                <button style="font-size: 14px;" *ngIf="!libraryList[0].checked && !libraryList[1].checked && libraryList[2].checked" class="pink-btn deploy-pink-btn"
                                    type="button" (click)="selectMainNav(3)">Usecases &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
                            </div>
                            <div class="float-right">
                                <button class="gray-btn" type="button" (click)="goToBackMainNav(mainSelectedTab)"><i style="font-size: 11px;" class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="mainSelectedTab == 2 || mainSelectedTab == 3 || mainSelectedTab == 4 ">
                        <!-- Nav tabs -->
                        <ul id="mb" class="nav nav-tabs" role="tablist">
                            <li class="nav-item" *ngFor="let tab of tabs;let i =index;">
                                <a (click)="selectNav(tab,$event,deploymentRequestForm)" role="tab" data-toggle="tab" class="nav-link" [ngClass]="{active:tab.active}"> {{tab.title}}</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div id="tabContentMainDiv" class="tab-content panelJ" style="height: auto;overflow-x:none;" (window:resize)="changeSizeFromViewPort()"
                            (on-init)="changeSizeFromViewPort()">
                            <div class="tab-pane tab-pane1 fade in style-4 tab-pane1" style="overflow-y:auto;" [ngClass]="{active:selectedTab == 1,show:selectedTab == 1}"
                                id="tab1" role="tabpanel">
                                <div class="clearfix">
                                    <input id="search1" class="col-md-2" #gbUsecase [(ngModel)]="usecaseSearch" type="text" placeholder="Search">
                                    <!--Data Table-->
                                    <div *ngIf="deploymentLibList.length > 0 ">
                                        <p-dataTable id="usecaseTbl" class="deploymentRequestTbl" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                            [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gbUsecase"
                                            [value]="deploymentLibList" sortMode="multiple">
                                            <p-column [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <input [(ngModel)]="car['isSelected']" type="checkbox" name="checkboxTbl{{i}}" id="checkboxTbl{{i}}" class="css-checkbox"
                                                            (change)="setSelected(car)" />
                                                        <label for="checkboxTbl{{i}}" class="css-label"></label>
                                                        <span>{{i+1}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="useCaseName" header="Name" [sortable]="true" *ngIf="mainSelectedTab == 4">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="eventName" header="Name" [sortable]="true" *ngIf="mainSelectedTab == 2">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="description" header="Description" [sortable]="true">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status" [sortable]="true">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="lastUpdated" header="Last Updated">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="lastUpdatedBy" header="Last Updated By" [sortable]="true">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="true" [style]="{'text-align':'center'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon">LIVE</span>
                                                        <span class="sim-icon">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                    <div class="bordered-box" *ngIf="deploymentLibList.length == 0 ">
                                        <div class="drag-txt">
                                            <p class="bold-txt" *ngIf="mainSelectedTab == 2">Deployment Event Detector List</p>
                                            <p class="bold-txt" *ngIf="mainSelectedTab == 4">Deployment Usecase List</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer-deploy">
                                    <div class="float-right">
                                        <button type="button" class="pink-btn" style="float: right;margin-left: 5px" (click)="goToViewChanges()">Next &nbsp;&nbsp;<i style="font-size: 11px;" class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <div class="float-right">
                                        <button type="button" class="gray-btn" (click)="goToBackMainNav(mainSelectedTab)"><i style="font-size: 11px;" class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane style-4 tab-pane1" style="overflow-y:auto;" id="tab2" role="tabpanel" [ngClass]="{active:selectedTab == 2,show:selectedTab == 2}">
                                <div class="style-4 clearfix">
                                    <div class="title_event">
                                        <h3>{{mainSelectedTab == 2 ? 'Event Detectors' : mainSelectedTab == 3 ? 'Workflows' :
                                            mainSelectedTab == 4 ? 'Use Case' : ''}} Changes
                                            <label class="switch pull-right"></label>
                                        </h3>
                                        <p>View changes to selected and {{mainSelectedTab == 2 ? 'Event Detectors' : mainSelectedTab
                                            == 3 ? 'Workflows' : mainSelectedTab == 4 ? 'Use Case' : ''}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 80px">Selected</th>
                                                <th>Changes</th>
                                                <th>Report</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="mainSelectedTab == 2">
                                                <tr *ngFor="let eventdetector of selectedEventDetectors">
                                                    <td style="width: 200px">
                                                        <span style="margin-top: 10px">{{eventdetector.eventName}}</span>
                                                    </td>
                                                    <td>
                                                        <div style="margin-top: 10px" class="bg-red">Timing</div>
                                                        <div style="margin-top: 10px" class="bg-red">Latency</div>
                                                        <div style="margin-top: 10px" class="bg-red">Suppression Rules</div>
                                                        <!--<div class="bg-grey">No Changes</div>-->
                                                    </td>
                                                    <td style="padding-right: 30px;">
                                                        <button class="pink-btn deploy-pink-btn">View Changes</button>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            <ng-container *ngIf="mainSelectedTab == 4">
                                                <tr *ngFor="let usecase of selectedUseCases">
                                                    <td style="width: 200px">
                                                        <span style="margin-top: 10px">{{usecase.useCaseName}}</span>
                                                    </td>
                                                    <td>
                                                        <div style="margin-top: 10px" class="bg-red" *ngIf="usecase.edsChanged">Changes to Event Detectors</div>
                                                        <div style="margin-top: 10px" class="bg-red" *ngIf="usecase.useCaseChanged">Changes to Use Case</div>
                                                        <div style="margin-top: 10px" class="bg-grey" *ngIf="!usecase.edsChanged && !usecase.useCaseChanged">No Changes</div>
                                                    </td>
                                                    <td style="padding-right: 30px;">
                                                        <button class="pink-btn deploy-pink-btn">View Changes</button>
                                                    </td>
                                                </tr>
                                            </ng-container>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer-deploy">
                                    <div class="float-right">
                                        <button class="pink-btn" style="float: right;margin-left: 5px" type="button" (click)="goToPriorities()">Next &nbsp;&nbsp;<i style="font-size: 11px;" class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <div class="float-right">
                                        <button class="gray-btn" type="button" (click)="goToBack()"><i style="font-size: 11px;" class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane style-4 tab-pane1" style="overflow-y:auto;" id="tab3" role="tabpanel" [ngClass]="{active:selectedTab == 3,show:selectedTab == 3}">
                                <div class="style-4 clearfix">
                                    <div class="title_event">
                                        <h3>{{mainSelectedTab == 2 ? 'Event Detectors' : mainSelectedTab == 3 ? 'Workflows' :
                                            mainSelectedTab == 4 ? 'Use Case' : ''}} Priority</h3>
                                        <p>Prioritise {{mainSelectedTab == 2 ? 'Event Detectors throughout all Use Cases' :
                                            mainSelectedTab == 3 ? 'Workflows' : mainSelectedTab == 4 ? 'Use Case' : ''}}
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <div class="row" *ngIf="mainSelectedTab == 2">
                                                    <div class="section_title">Real-Time</div>
                                                    <ul class="priority-ul" dnd-sortable-container [sortableData]="libPriorityList">
                                                        <li *ngFor="let data of libPriorityList; let i = index" dnd-sortable [sortableIndex]="i">
                                                            <span class="drag-number">{{i+1}}</span>
                                                            <div [ngClass]="{'light-pink' : (data.eventType == 'REALTIME'),'light-gray' : (data.eventType == 'BATCH')}">
                                                                <span class="fa fa-arrows"></span>{{data.eventName}}
                                                            </div>
                                                            <span class="icon-drag"><img src="../../assets/images/swap_icon.png"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="row" *ngIf="mainSelectedTab == 4">
                                                    <ul class="priority-ul" dnd-sortable-container [sortableData]="libPriorityList">
                                                        <li *ngFor="let data of libPriorityList; let i = index" dnd-sortable [sortableIndex]="i">
                                                            <span class="drag-number">{{i+1}}</span>
                                                            <div class="light-pink">
                                                                <span class="fa fa-arrows"></span>{{data.useCaseName}}
                                                            </div>
                                                            <span class="icon-drag"><img src="../../assets/images/swap_icon.png"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer-deploy">
                                    <div class="float-right">
                                        <button class="pink-btn deploy-pink-btn" type="button" (click)="selectMainNav(mainSelectedTab)">{{generateLastLabel()}}&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <div class="float-right">
                                        <button class="gray-btn" type="button" (click)="goToBack()"><i style="font-size: 11px;" class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="tab-pane" id="tab4" role="tabpanel" style="overflow-y: hidden !important; padding-right:0;" [ngClass]="{active:mainSelectedTab == 5,show:mainSelectedTab == 5}">
                        <form id="deploymentForm" role="form" novalidate="" #deploymentRequestForm="ngForm" (ngSubmit)="goToApproval(deploymentRequestForm)"
                            class="w-100 style-4 scrollbar" (window:resize)="changeSizeFromViewPort()">
                            <div class="style-4 clearfix" style="padding-bottom: 50px;">
                                <div class="title_event">
                                    <h3>Schedule Deployment</h3>
                                    <p>Prioritise Event Detectors throughout all Use Cases</p>
                                </div>
                                <h5 class="subhead"><img src="../../assets/images/network-upload.png"> Deploying to <b>{{selectedEnv}}</b></h5>
                                <ul class="left-box-list dropdown-menu accordion-list" style="position: relative">
                                    <li class="dropdown-submenu" *ngIf="libraryList[0].checked">
                                        <a id="edDrop" href="javascript:;" (click)="changeState('edDrop',$event)">
                                            <i class="deploy-close-caret"></i> 
                                            <b>Event Detectors</b>
                                        </a>
                                        <ul class="dropdown-menu left-side-submenu size-14" style="padding: 0px;margin: 0px">
                                            <ng-container *ngFor="let data of selectedEventDetectors">
                                                <li class="dropdown-li w-100">
                                                    <a class="drop-menu-item-wdt-shadow" style="margin: 5px;" href="javascript:;"><i class="fa fa-circle-o"></i><b>&nbsp;{{data.eventName}} &amp; </b></a>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" *ngIf="libraryList[1].checked">
                                        <a id="wfDrop" href="javascript:;" (click)="changeState('wfDrop',$event)">
                                            <i class="deploy-close-caret"></i> 
                                            <b>Workflows</b>
                                        </a>
                                        <ul class="dropdown-menu left-side-submenu size-14" style="padding: 0px;margin: 0px">
                                            <ng-container *ngFor="let data of selectedWorkflows">
                                                <li class="dropdown-li w-100">
                                                    <a class="drop-menu-item-wdt-shadow" style="margin: 5px;" href="javascript:;"><i class="fa fa-circle-o"></i><b>&nbsp;{{data.eventName}} &amp; </b></a>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" *ngIf="libraryList[2].checked">
                                        <a id="usecaseDrop" href="javascript:;" (click)="changeState('usecaseDrop',$event)">
                                            <i class="deploy-close-caret"></i> 
                                            <b>Use Cases</b>
                                        </a>
                                        <ul class="dropdown-menu left-side-submenu size-14" style="padding: 0px;margin: 0px">
                                            <div *ngFor="let data of selectedUseCases">
                                                <li class="dropdown-li w-100">
                                                    <a class="drop-menu-item-wdt-shadow" style="margin: 5px;" href="javascript:;"><i class="fa fa-circle-o"></i><b>&nbsp;{{data.useCaseName}} &amp; </b></a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="w-100 mt-1">
                                    <div class="creatEventForm">
                                        <div class="col-sm-12">
                                            <div class=" form-group">
                                                <div class="row">
                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Label</label>
                                                    <input type="text" class="col-md-2 col-sm-9 no-padding" id="deploymentRequestName" name="deploymentRequestName" placeholder="Name Deployment Package"
                                                        [ngClass]="{'error-box':deploymentRequestName.errors && submittedFlag && deploymentRequestName.errors.required}"
                                                        required #deploymentRequestName="ngModel" [(ngModel)]="deploymentRequestObj.deploymentRequestName">
                                                </div>
                                            </div>
                                            <div class=" form-group">
                                                <div class="row">
                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Schedule Deployment</label>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-4 pl-0"><span class="lbl-normal">Date</span>
                                                        <div class="row">
                                                            <div class="col">
                                                                <select name="scheduleDeploymentDay" id="scheduleDeploymentDay" class="custom-date-select" [ngClass]="{'error-box':scheduleDeploymentDay.errors && submittedFlag && scheduleDeploymentDay.errors.required}"
                                                                    required #scheduleDeploymentDay="ngModel" [(ngModel)]="deploymentRequestObj.scheduleDeploymentDay">
                                                                        <option value="{{day+1}}" *ngFor="let day of days">{{day+1}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col pl-0 pr-0">
                                                                <select name="scheduleDeploymentMonth" id="scheduleDeploymentMonth" class="custom-date-select" [(ngModel)]="deploymentRequestObj.scheduleDeploymentMonth"
                                                                    [ngClass]="{'error-box':scheduleDeploymentMonth.errors && submittedFlag && scheduleDeploymentMonth.errors.required}"
                                                                    required #scheduleDeploymentMonth="ngModel">
                                                                        <option value="{{month}}" *ngFor="let month of months">{{month}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col">
                                                                <select name="scheduleDeploymentYear" id="scheduleDeploymentYear" class="custom-date-select" [(ngModel)]="deploymentRequestObj.scheduleDeploymentYear"
                                                                    [ngClass]="{'error-box':scheduleDeploymentYear.errors && submittedFlag && scheduleDeploymentYear.errors.required}"
                                                                    required #scheduleDeploymentYear="ngModel">
                                                                        <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-3 pl-0"><span class="lbl-normal">Time</span>
                                                        <div class="clearfix"></div>

                                                        <div class="timeSlot-new">
                                                            <input id="scheduleDeploymentHr" name="scheduleDeploymentHr" class="br-r-b" type="text" [numbersOnly]="''" maxNumber="11"
                                                                [(ngModel)]="deploymentRequestObj.scheduleDeploymentHr" [ngClass]="{'error-box':scheduleDeploymentHr.errors && submittedFlag && scheduleDeploymentHr.errors.required}"
                                                                required #scheduleDeploymentHr="ngModel">
                                                            <span class="seprater-lg">:</span>
                                                            <input id="scheduleDeploymentMin" name="scheduleDeploymentMin" class="br-t-l" type="text" [numbersOnly]="''" maxNumber="59"
                                                                [(ngModel)]="deploymentRequestObj.scheduleDeploymentMin" [ngClass]="{'error-box':scheduleDeploymentMin.errors && submittedFlag && scheduleDeploymentMin.errors.required}"
                                                                required #scheduleDeploymentMin="ngModel">
                                                            <select id="scheduleDeploymentMeridian" name="scheduleDeploymentMeridian" class="ampm-lg" [(ngModel)]="deploymentRequestObj.scheduleDeploymentMeridian"
                                                                [ngClass]="{'error-box':scheduleDeploymentMeridian.errors && submittedFlag && scheduleDeploymentMeridian.errors.required}"
                                                                required #scheduleDeploymentMeridian="ngModel">
                                                                   <option value="AM">AM</option>
                                                                <option value="PM">PM</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Approver</label>

                                                    <div class="col-sm-2 col-lg-2 pl-0 ">
                                                        <select name="approver" id="approver" class="custom-date-select " [(ngModel)]="deploymentRequestObj.approver" [ngClass]="{'error-box':approver.errors && submittedFlag && approver.errors.required}"
                                                            required #approver="ngModel">
                                                                <option value="" selected>Select Approver</option>
                                                            <option value="Manav" selected>Manav</option>
                                                            <option value="Shreya" selected>Shreya</option>
                                                            <option value="Subbu" selected>Subbu</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 p-3 col-lg-6 lbl-normal lbl-oblique">
                                                        Selected Aprover will be emailed upon Deployment Request
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <label for="name" class="col-sm-12 pl-0 lbl-bold">Comments</label>
                                                    <textarea id="comments" name="comments" class="col-sm-4" [(ngModel)]="deploymentRequestObj.comments"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="box-footer-deploy">
                                <div class="float-right">
                                    <button class="pink-btn deploy-pink-btn" type="button" *ngIf="!isValidDeployment" (click)="validateDeployment(deploymentRequestForm)">Validate</button>
                                    <button class="pink-btn deploy-pink-btn" type="button" *ngIf="isValidDeployment" (click)="goToApproval(deploymentRequestForm)">Request Approval</button>
                                </div>
                                <div class="float-right">
                                    <button class="gray-btn" type="button" (click)="goToBackMainNav(mainSelectedTab)"><i style="font-size: 11px;" class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane tab-pane1 tab-pane1 style-4" style="overflow-y:auto;" id="tab5" role="tabpanel" [ngClass]="{active:mainSelectedTab == 6,show:mainSelectedTab == 6}">
                        <div class="style-4 clearfix">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="title_event">
                                        <h3>Your Deployment is awaiting Approval</h3>
                                        <p>The Approver has been emailed and you will be notified of any progress</p>
                                    </div>
                                    <h5 class="subhead">
                                        <span class="fa fa-address-card" style="color: #8b5d8d"></span> Package ID <b>PROD_1641</b>
                                    </h5>
                                    <span class="schedule-text" style="padding-left: 10px">Scheduled for: </span>
                                    <span class="schedule-text ampm-time" style="padding: 0 5px;">{{deploymentRequestObj.scheduleDeploymentDay}}/{{deploymentRequestObj.scheduleDeploymentMonth}}/{{deploymentRequestObj.scheduleDeploymentYear}} </span>
                                    <span class="schedule-text">at</span>
                                    <span class="schedule-text ampm-time" style="padding: 0 5px;"> {{deploymentRequestObj.scheduleDeploymentHr}}:{{deploymentRequestObj.scheduleDeploymentMin}} {{deploymentRequestObj.scheduleDeploymentMeridian}}</span>
                                    <ul class="left-box-list dropdown-menu accordion-list mt-1" style="position: relative">
                                        <li class="dropdown-submenu" *ngIf="libraryList[0].checked">
                                            <a id="edDropdeploy" href="javascript:;" (click)="changeState('edDropdeploy',$event)">
                                                <i class="deploy-close-caret"></i> 
                                                <b>Event Detectors</b>
                                            </a>
                                            <ul class="dropdown-menu left-side-submenu size-14" style="padding: 0px;margin: 0px">
                                                <ng-container *ngFor="let data of selectedEventDetectors">
                                                    <li class="dropdown-li w-100">
                                                        <a class="drop-menu-item-wdt-shadow" style="margin: 5px;" href="javascript:;"><i class="fa fa-circle-o"></i><b>&nbsp;{{data.eventName}} &amp; </b></a>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu" *ngIf="libraryList[1].checked">
                                            <a id="workflowDropDeploy" href="javascript:;" (click)="changeState('workflowDropDeploy',$event)">
                                                <i class="deploy-close-caret"></i> 
                                                <b>Workflow</b>
                                            </a>
                                            <ul class="dropdown-menu left-side-submenu size-14" style="padding: 0px;margin: 0px">
                                                <div *ngFor="let data of selectedWorkflows">
                                                    <li class="dropdown-li w-100">
                                                        <a class="drop-menu-item-wdt-shadow" style="margin: 5px;" href="javascript:;"><i class="fa fa-circle-o"></i><b>&nbsp;{{data.useCaseName}} &amp; </b></a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu" *ngIf="libraryList[2].checked">
                                            <a id="usecaseDropDeploy" href="javascript:;" (click)="changeState('usecaseDropDeploy',$event)">
                                                <i class="deploy-close-caret"></i> 
                                                <b>Use Cases</b>
                                            </a>
                                            <ul class="dropdown-menu left-side-submenu size-14" style="padding: 0px;margin: 0px">
                                                <div *ngFor="let data of selectedUseCases">
                                                    <li class="dropdown-li w-100">
                                                        <a class="drop-menu-item-wdt-shadow" style="margin: 5px;" href="javascript:;"><i class="fa fa-circle-o"></i><b>&nbsp;{{data.useCaseName}} &amp; </b></a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="w-100 mt-1">
                                        <span class="table-heading-text">Pending</span>
                                        <!--Data Table-->
                                        <div *ngIf="deploymentReqs?.length > 0 ">
                                            <p-dataTable id="pendingApproval" (onRowSelect)="onRowSelect($event)" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                                [value]="deploymentReqs" sortMode="multiple">
                                                <p-column [sortable]="true" [style]="{'width':'50px'}">
                                                    <ng-template pTemplate="header">
                                                        <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                    </ng-template>
                                                    <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{i+1}}</span></div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="packageId" header="Use Case" [sortable]="true">
                                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                                        <div>
                                                            <span class="bold-font">{{car[col.field]}}</span>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="deploymentRequestName" header="Label" [sortable]="true">
                                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="scheduledFor" header="Scheduled For" [sortable]="true">
                                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="scheduledBy" header="Scheduled By">
                                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="scheduledOn" header="Scheduled On" [sortable]="true">
                                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="status" header="Status" [sortable]="true">
                                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                                        <div><span>{{car[col.field]}}</span></div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="" header="" [style]="{'text-align':'center'}">
                                                    <ng-template let-col let-car="rowData" pTemplate="body">
                                                        <button class="grey-btn" type="button" (click)="cancelPendingApproval(car,i)">Cancel</button>
                                                    </ng-template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer-deploy">
                            <div class="float-right">
                                <button class="pink-btn" type="button" (click)="onDone()">Done &nbsp; &nbsp;</button>
                            </div>
                            <div class="float-right" style="padding-right:5px;">
                                <button class="gray-btn" type="button" (click)="goToBackMainNav(mainSelectedTab)"><i style="font-size: 11px;" class="fa fa-chevron-left"></i>Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog class="p-model" header="Priority Confirmation" [(visible)]="priorityConfirmDisplay" modal="modal" width="500" responsive="true">
    You have not changed the priority.Do you still want to continue?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="priorityConfirmDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="selectMainNav(mainSelectedTab,true)">Yes</button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="p-model" header="Warning" [(visible)]="warningDisplay" modal="modal" responsive="true">
    <div style="padding-right:0">
        <div id="headerDialog">
        <h3>3 Potential Issues</h3>
        <p>Expand warnings to view details individually.</p>
        </div>
        <div id="elementsPanelDialog" class="style-4 scrollbar w-100" style="margin-bottom: 40px;">
        <div class="elements-panel">
            <div class="warning-element-panel">
                <span>
                You are deploying Workflows that contain Events
                that aren’t in Production or selected in the
                deployment package.
            </span>
            </div>

        </div>
        <div class="elements-panel">
            <span class="warning-element-panel">
            You are deploying Event Detectors that are not
            used in any Actions or Workflows
        </span>
        </div>
        <div class="elements-panel">
            <span class="warning-element-panel">
            You are deploying Actions that contain Event 
            Detectors that are not in Production or selected
            in the deployment package.
             </span>
        </div>
        
        </div>

        <div class="box-footer-deploy">
            <div class="float-right">
                <button type="button" class="pink-btn deploy-pink-btn" (click)="goToDone();warningDisplay=false">Request Approval</button>
            </div>
            <div class="float-right">
                <button type="button" class="gray-btn" (click)="warningDisplay=false">Cancel</button>
            </div>
        </div>
    </div>
</p-dialog>