<my-spinner [isRunning]="isRequesting"></my-spinner>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
    <div id="headerJ" class="container-fluid w-100">
        <div class="w-100">
            <div class="top-menu">
                <!-- LOGO -->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="col-sm-3 pl-0">
                    <a class="logo" href="javascript:;" tabindex="-1"  [routerLink]=this.constant.dashboardUrl ><img src="assets/images/logo.png" class="img-fluid" alt="your logo"/></a>
                </div>
                <div class="col-sm-9 pr-0 float-right">
                    <ul class="top-right-menu">
                        <li> 
                            <a href="javascript:;">
                                <i class="fa fa-bell fw-2x"></i><span class="notificaion-number">5</span>    
                            </a>
                        </li>
                    </ul>
                    <div class="top-avtar-change">
                        <div class="avtar-image">
                            <a href="javascript:;" class="clickPopUp">
                                <div *ngIf="profileImageUrl == null || profileImageUrl == undefined"
                                    class="header-user-image"
                                    [ngStyle]="{'background-image':'url(../../assets/images/default-user.png)'}"></div>
                                <div *ngIf="profileImageUrl != null && profileImageUrl != 'null'"
                                    class="header-user-image" [ngStyle]="{'background-image':'url('+profileImageUrl+')'}"></div>
                            </a>
                        </div>
                        <div class="avtar-name">
                            <a href="javascript:;" i18n class="clickPopUp">
                                {{loggedInUserObj.firstName}} {{loggedInUserObj.lastName}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="check navbar-nav pos-relative">
                        <ng-container *ngFor="let key of mainMenu | mapToIterable">
                            <li class="nav-item">
                                <a class="nav-link subhoverLink  text-uppercase " 
                                   *ngIf="mainMenuRouterLinkMap[key] != null" 
                                   [routerLink]= mainMenuRouterLinkMap[key] href="javascript:;" 
                                   i18n>{{key}} 
                            </a>                            
                            <a *ngIf="mainMenuRouterLinkMap[key] == null" 
                                href="javascript:;" class="nav-link subhoverLink  text-uppercase"
                                [attr.data-id]="'#navsub' + key" i18n>{{key}} 
                        </a>                            
                    </li>
                </ng-container>
            </ul>
            <div class="pull-right">
                <a class="nav-link subhoverLink" 
                   style="font-weight: 600;
                   color: rgba(255, 255, 255, 0.7) !important;
                   font-size: 14px;">
                    v7.0</a>
            </div>
        </div>
    </div>
</div>
</div>
</nav>

<!--  Submenu  -->
<div class="outer_submenu">
    <ng-container *ngFor="let key of mainMenu | mapToIterable">
        <div id="navsub{{key}}" class="navsub" *ngIf="mainMenu[key].length > 0">
            <ul>
                <li *ngFor="let feature of mainMenu[key]">
                    <a (click)="showAdmin(feature.value)"
                        tabindex="-1" href="javascript:;" class="dropdown-item " 
                        routerLink={{feature.routerLink}}> {{feature.label}}</a>
                </li>
            </ul>
        </div>
    </ng-container>
</div>
<div class="clearfix"></div>
<div class="header-pop-up" *ngIf="popUp" (click)='popUpFun($event)' id="headerPopup">
    <div class="headerding"></div>
    <div class="right-click-pop-content">
        <div class="form-row">
            <a href="javascript:;" (click)="viewProfile()">View Profile</a>
        </div>
        <div class="line"></div>
        <div class="form-row header-profile">
            <a href="javascript:;" >
                <p-fileUpload  #fileUpload (onSelect)="onSelect($event,files)" name="myfile[]" chooseLabel="Change Avatar" accept="image/*" maxFileSize="1000000">
                    <ng-template let-file pTemplate="file">
                        <div>
                            <img [src]="file.objectURL" />
                        </div>
                    </ng-template>
                </p-fileUpload></a>
        </div>
        <div class="line"></div>
        <div class="form-row">
            <a href="javascript:;" (click)='openPopUp($event)' routerLink='/changepassword'>Change Password</a>
        </div>
        <div class="line"></div>
        <div class="form-row">
            <a href="javascript:;" (click)="logout()">Logout</a>
        </div>
    </div>
