<div id="fullscreen_bg" class="fullscreen_bg">
    <div class="container2">
        <a class="logo" href="javascript:;"><img src="assets/images/logo.png" class="img-fluid" alt="your logo"></a>
    </div>
    <div class="container2">
        <div class="col-md-12 login-form">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">{{errorHeader}}</strong>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span class="login-error">{{errorContent}}</span>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-12">
                                <button type="submit" class="return-to-login" (click)="onClickButton()">{{errorButtonName}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
