<my-spinner [isRunning]="isRequesting"></my-spinner>
<div class="row" id="menuS">
    <div class="heading-main row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"> Suppressions</li>
        </ul>
        <div class="add-action-btn">
            <a href="javascript:;" [ngClass]="{'add_action_btn':updateAccess,'add_action_btn-disabled':!updateAccess}" (click)="updateAccess && openAddPage()">
                <i class="fa fa-plus"></i>New Suppression
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 view-eds" [hidden]=openAddPageFlag>
            <div class="row">
                <div class="box-main expand-big mainTopTable">
                    <div class="right-side-table" style="position: relative;">
                        <ul class="nav nav-tabs" role="tablist" id="listTab">
                            <li class="nav-item" *ngFor="let tabz of suppListTabs;let i = index">
                                <a class="nav-link" id="{{tabz.shortName}}LiTab" href="javascript:;" [class.active]="tabz.active" role="tab" data-toggle="tab"
                                    (click)="setTabParameters(tabz.shortName,i);">{{tabz.title}}</a>
                            </li>
                        </ul>
                        <div class="expand" onclick="expandDiv('expand-div', 'crud-div')" (click)="eventDetectorFlag = !eventDetectorFlag;setLargeListFlag()"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand':eventDetectorFlag,'fa-compress':!eventDetectorFlag}"></i></a></div>
                        <!-- Tab panes -->
                        <div id="tabContentMainDiv" class="style-4 tab-content scrollbar expand-div wide-div">
                            <context-menu></context-menu>
                            <div role="tabpanel" class="tab-pane fade in" id="produc" [class.show]="suppListTabs[0].active" [class.active]="suppListTabs[0].active">
                                <input class="col-md-2" #gbProd [(ngModel)]="configSearchProd" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'prod')">
                                <!--Data Table-->
                                <div class="overflow-x">
                                    <div *ngIf="productionEventDetectorList?.length > 0 ">
                                        <p-dataTable #prodTable id="prodTable" selectionMode="single" [rows]="20" (onRowSelect)="openUpdateTemplate($event)" [paginator]="true"
                                            [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gbProd" [value]="productionSuppressionList"
                                            sortMode="multiple">
                                            <p-column [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionDesc" header="Description" [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="successLogLabel" header="Label If Suppressed" [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="failureLogLabel" header="Label if Not Suppressed" [sortable]="true" [style]="{'width':'180px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" *ngIf="car['status']== 'PRODUCTION'">LIVE</span>
                                                        <span class="sim-icon" *ngIf="car['status']== 'SIMULATION'">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="productionSuppressionList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Suppression List</p> <span>
                                            <span [ngClass]="{'add-white':!updateAccess,'add-red':updateAccess}" style="cursor: pointer" (click)="updateAccess && openAddPage()">Add</span> a new Suppression</span>
                                    </div>
                                </div>
                                <!-- End Data Table -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="simul" [class.show]="suppListTabs[1].active" [class.active]="suppListTabs[1].active">
                                <input class="col-md-2" #gbSimul [(ngModel)]="configSearchSimul" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'simul')">
                                <!--Data Table-->
                                <div class="overflow-x">
                                    <div *ngIf="simulationSuppressionList?.length > 0 ">
                                        <p-dataTable #simulTable id="simulTable" [rows]="20" [paginator]="true" (onRowUnselect)="clearObjects()" (onRowSelect)="openUpdateTemplate($event)"
                                            [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [globalFilter]="gbSimul"
                                            [value]="simulationSuppressionList" sortMode="multiple">
                                            <p-column [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionDesc" header="Description" [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="successLogLabel" header="Label If Suppressed" [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="failureLogLabel" header="Label if Not Suppressed" [sortable]="true" [style]="{'width':'180px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" *ngIf="car['status']== 'PRODUCTION'">LIVE</span>
                                                        <span class="sim-icon" *ngIf="car['status']== 'SIMULATION'">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="simulationSuppressionList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Suppression List</p> <span>
                                            <span [ngClass]="{'add-white':!updateAccess,'add-red':updateAccess}" style="cursor: pointer" (click)="updateAccess && openAddPage()">Add</span> a new Suppression</span>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="config" [class.show]="suppListTabs[2].active" [class.active]="suppListTabs[2].active">
                                <input class="col-md-2" #gbConfig [(ngModel)]="configSearch" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'config')">
                                <!--Data Table-->
                                <div class="overflow-x">
                                    <div *ngIf="configurationSuppressionList?.length > 0 ">
                                        <p-dataTable #configTable id="configTable" [rows]="20" [paginator]="true" [pageLinks]="3" (onRowUnselect)="clearObjects()"
                                            (onRowSelect)="openUpdateTemplate($event)" [rowsPerPageOptions]="[5,10,20]" selectionMode="single"
                                            [globalFilter]="gbConfig" [value]="configurationSuppressionList" sortMode="multiple">
                                            <p-column [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span><a href="javascript:;">{{i+1}}</a></span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionDesc" header="Description" [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="successLogLabel" header="Label If Suppressed" [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="failureLogLabel" header="Label if Not Suppressed" [sortable]="true" [style]="{'width':'180px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" *ngIf="car['status']== 'PRODUCTION'">LIVE</span>
                                                        <span class="sim-icon" *ngIf="car['status']== 'SIMULATION'">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="configurationSuppressionList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Suppression List</p> <span>
                                            <span [ngClass]="{'add-white':!updateAccess,'add-red':updateAccess}" style="cursor: pointer" (click)="updateAccess && openAddPage()">Add</span> a new Suppression</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" [hidden]="!showUpdateScreen" class="crud-div">
            <!--<div class="clearfix" *ngIf="showUpdateScreen" class="crud-div">-->
            <div style="margin-top: 0.5rem;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-main">
                            <div class="activation-box-main">
                                <div class="activation-box-main-heading">Config Space
                                    <div class="expand" style="right: 14px;" onclick="expandDiv('crud-div', 'view-eds')" (click)="togglePage()"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand': !showEnlargedScreen,'fa-compress': showEnlargedScreen}"></i></a></div>
                                </div>
                                <form id="suppForm" class="w-100 style-4 scrollbar" novalidate="" #suppressionForm="ngForm">
                                    <div class="col-sm-12 style-4" *ngIf="!showEnlargedScreen" id="suppressionsConfig" [ngStyle]="{'pointer-events':suppressionObj.updatable ? '' : 'none'}"
                                        (window:resize)="changeSizeFromViewPort()">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="activation-box mb-5">
                                                    <label for="suppressionName">Name</label>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <input id="suppressionName" maxlength="25" required name="suppressionName" type="text" class="col-sm-7 grey-bold-text" [ngClass]="{'error-box':suppressionName.errors && submittedFlag && suppressionName.errors.required}"
                                                                #suppressionName="ngModel" [(ngModel)]="suppressionObj.suppressionName">
                                                            <span class="col-sm-5" style="line-height: 30px;padding-left: 10px;">v{{suppressionObj.version | number:'1.1-1'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="red-btn w-20" style="font-size: 13px; pointer-events:auto" (click)="dynamicPopUp()">Suppression Builder</button><br/>
                                                <span *ngIf="(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '' || suppressionObj.criteriaExpression == emptyCriteria || suppressionObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag"
                                                    [ngClass]="{'color-red':(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '' || suppressionObj.criteriaExpression == '' || suppressionObj.criteriaExpression == emptyCriteria || suppressionObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag}">&nbsp;Criteria is mandatory</span>
                                                <div class="activation-box">
                                                    <label for="suppressionDesc">Description</label>
                                                    <textarea id="suppressionDesc" #suppressionDesc="ngModel" name="suppressionDesc" class="w-100 grey-text" [(ngModel)]="suppressionObj.suppressionDesc"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="activation-box mb-5">
                                                    <label for="labelIfSuppressed">Label if Suppressed</label>
                                                    <input id="labelIfSuppressed" #labelIfSuppressed="ngModel" name="labelIfSuppressed" type="text" class="w-100 grey-bold-text"
                                                        [(ngModel)]="suppressionObj.successLogLabel">
                                                </div>
                                                <div class="activation-box">
                                                    <label for="labelIfNotSuppressed">Label if Not Suppressed</label>
                                                    <input id="labelIfNotSuppressed" #labelIfNotSuppressed="ngModel" name="labelIfNotSuppressed" type="text" class="w-100 grey-bold-text"
                                                        [(ngModel)]="suppressionObj.failureLogLabel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="enlargedSuppresionsDiv" class="w-100 style-4" *ngIf="(showEnlargedScreen || openAddPageFlag)" (window:resize)="changeSizeFromViewPort()">
                                        <!--<div id="enlargedSuppresionsDiv" class="w-100 style-4 scrollbar" *ngIf="(showEnlargedScreen || openAddPageFlag)" (window:resize)="changeSizeFromViewPort()">-->
                                        <div class="suppressionForm" [ngStyle]="{'pointer-events': suppressionObj.updatable ? '' : 'none'}">
                                            <div class="suppressionCreatFormTitle col-sm-12">
                                                <h5>Create a New Suppression</h5>
                                                <p>Fill in the configuration criteria below to save a new Suppression to Drafts.</p>
                                            </div>
                                            <div class="creatSuppressionForm">
                                                <div class="col-md-4">
                                                    <div class="activation-box mb-5">
                                                        <label for="suppressionName">Name</label>
                                                        <div class="clearfix"></div>
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <input class="col-sm-7 grey-bold-text" id="suppressionName" [ngClass]="{'error-box':suppressionName.errors && submittedFlag && suppressionName.errors.required}"
                                                                    required #suppressionName="ngModel" name="suppressionName"
                                                                    type="text" [(ngModel)]="suppressionObj.suppressionName">
                                                                <span class="col-sm-5" style="line-height: 30px">v{{suppressionObj.version | number:'1.1-1'}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="red-btn w-20" style="font-size: 13px" (click)="dynamicPopUp()">Suppression Builder</button><br/>
                                                    <span *ngIf="(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '' || suppressionObj.criteriaExpression == '' || suppressionObj.criteriaExpression == emptyCriteria || suppressionObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag"
                                                        [ngClass]="{'color-red':(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '' || suppressionObj.criteriaExpression == '' || suppressionObj.criteriaExpression == emptyCriteria || suppressionObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag}">&nbsp;Criteria is mandatory</span>
                                                    <div class="activation-box">
                                                        <label for="suppressionDesc">Description</label>
                                                        <textarea id="suppressionDesc" #suppressionDesc="ngModel" name="suppressionDesc" class="w-100 grey-text" [(ngModel)]="suppressionObj.suppressionDesc"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="activation-box mb-5">
                                                        <label for="labelIfSuppressed">Label if Suppressed</label>
                                                        <input id="labelIfSuppressed" #labelIfSuppressed="ngModel" name="labelIfSuppressed" type="text" class="w-100 grey-bold-text"
                                                            [(ngModel)]="suppressionObj.successLogLabel">
                                                    </div>
                                                    <div class="activation-box">
                                                        <label for="labelIfNotSuppressed">Label if Not Suppressed</label>
                                                        <input id="labelIfNotSuppressed" #labelIfNotSuppressed="ngModel" name="labelIfNotSuppressed" type="text" class="w-100 grey-bold-text"
                                                            [(ngModel)]="suppressionObj.failureLogLabel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="w-100 clearfix footer-button">
                                    <div class="float-right">
                                        <button id="publishSupp" type="button" [ngClass]="{'white-btn':!suppressionObj.publishable || (!form.dirty && !dirtyFlag),'pink-btn':suppressionObj.publishable || (form.dirty || dirtyFlag)}"
                                            [disabled]="!suppressionObj.publishable  || (!form.dirty && !dirtyFlag)" (click)="onPublish()">Publish</button>
                                        <button id="cancelSupp" type="button" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'purple-btn':(form.dirty || dirtyFlag)}"
                                            [disabled]="(!form.dirty && !dirtyFlag)" (click)="checkCancelChanges()">Cancel</button>
                                        <button id="submitSupp" type="submit" class="mr-2" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'pink-btn':(form.dirty || dirtyFlag)}"
                                            [disabled]="(!form.dirty && !dirtyFlag)" (click)="onSubmit()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Role Builder Model -->
<!--<div class="modal fade" id="suppressionRuleBuilderModal" tabindex="-1" role="dialog" aria-labelledby="ruleBuilderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>-->
<p-dialog class="p-rule-model" header="Rule Builder" [(visible)]="ruleBuilderSuppressionDisplay" modal="modal" responsive="true" [closable]="false">
    <div id="dialogHeight" class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-3" style="padding-right:0px">
                    <div id="ruleBuilderMainDiv" class=" box-main expand-big w-100">
                        <div class="activation-box-main-heading ">Elements </div>
                        <div id="ruleBuilderMainDiv1" class="tab-content w-100 style-4 scrollbar">
                            <div class="w-100 ">
                                <div class="col-sm-11 pr-0">
                                    <input class="general-input" type="search" placeholder="Search" [(ngModel)]="elementsQuery" (keyup)="openCriteriaTools(elementsQuery,$event)">
                                </div>
                            </div>
                            <ul class="left-box-list display-inline dropdown-menu caretmenu" style="padding-right: 0px;">
                                <li class="dropdown-submenu">
                                    <a class="test" #rt href="javascript:;" tabindex="-1" (click)="changeState('BDNA',$event)" id="BDNA"><i class="close-caret"></i> Behavioral DNA</a>
                                    <ul class="dropdown-menu sub-ul-left" style="float: left;width: 100%;">
                                        <li class="dropdown-submenu" *ngFor="let bdnas of behavioralDnas">
                                            <a id="{{bdnas | replaceSpaces}}" href="javascript:;" (click)="changeState(bdnas,$event)"><i class="close-caret"></i>{{bdnas}}</a>
                                            <ul class="dropdown-menu left-side-submenu" style="padding-right: 10px;">
                                                <ng-container *ngFor="let data of dataSet | filterarray:elementsQuery">
                                                    <li #container style="margin-right: 0px;display:inline-block;position:relative" class="dropdown-li" dnd-draggable [dragEnabled]="true"
                                                        [dropZones]="['ruleFieldZone']" *ngIf="data.type == 'BDNA' && data.parenttype == bdnas"
                                                        [dragData]="data">
                                                        <a class="drop-menu-item" href="javascript:;" [appendTo]="container" pTooltip="{{data.name}}" tooltipPosition="bottom"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">

                    <div id="dragAreaDiv" class=" w-100 box-main">
                        <form>
                            <fieldset [disabled]="!suppressionObj.updatable">
                                <div class="activation-box-main-heading">Builder </div>
                                <div id="dragAreaDiv1" class="w-100 style-4 scrollbar">
                                    <div class="eventCreatForm">
                                        <div class="eventCreatFormTitle">
                                            <h5>Build or Edit a Rule</h5>
                                            <p>Drag and drop items from the Elements panel and add conditions</p>
                                        </div>
                                    </div>
                                    <div class="pl-pr-15">
                                        <div class="eventCreatBox">
                                            <div class="eventCreatBoxHeader">
                                                <h6>
                                                    <div class="text-center" *ngIf="criteriaExp == undefined || criteriaExp == ''">Rule Expression</div>
                                                    <div class="text-center" *ngIf="criteriaExp != undefined && criteriaExp != ''" [innerHTML]="criteriaExp"></div>
                                                </h6>
                                            </div>
                                            <div class="w-100 eventCreatBoxContainer scrollbar">
                                                <h6>
                                                    <query-builder [group]="filter.group" [parentGrp]="group" [grpIndex]="i" (groupChange)="ongroupChanged($event)"></query-builder>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="w-100 clearfix footer-button">
                            <div class="float-right">
                                <button href="javascript:;" class="purple-btn" (click)="cancelRulePopup()">Cancel</button>
                                <button href="javascript:;"
                                class="mr-2"
                                [ngClass]="{'white-btn':!suppressionObj.updatable,'pink-btn':suppressionObj.updatable}"
                                            [disabled]="!suppressionObj.updatable" (click)="ruleBuilderSuppressionDisplay = false">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</p-dialog>
<p-dialog class="p-model" header="Archive Confirmation" [(visible)]="archiveSuppressionDisplay" modal="modal" width="500"
    responsive="true">
    Are you sure you want to archive {{modalContent.suppressionName}} suppression rule?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="archiveSuppressionDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="archiveSuppression()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Delete Confirmation" [(visible)]="deleteSuppressionDisplay" modal="modal" width="500" responsive="true">
    Are you sure you want to delete {{modalContent.suppressionName}} suppression rule?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="deleteSuppressionDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="deleteSuppression()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Cancel Confirmation" [(visible)]="cancelSuppressionDisplay" modal="modal" width="500" responsive="true">
    You have unsaved changes. Are you sure you want to cancel changes in <b>{{suppressionObj.suppressionName}}</b> suppression
    rule?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="rejectSuppressionTraversalChanges()">No</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'changeEditCancel'" (click)="cancelUpdateChanges()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'cancelSupressionChanges'" (click)="cancelSuppressions()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'cancelAddChanges'" (click)="cancelAddChanges()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
