<my-spinner [isRunning]="isRequesting"></my-spinner>
<div id='menuE' class="row">
    <div class="heading-main row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"> Event Detectors</li>
        </ul>
        <div class="add-action-btn">
            <a href="javascript:;" [ngClass]="{'add_action_btn':updateAccess,'add_action_btn-disabled':!updateAccess}"  (click)="updateAccess && openAddPage()">
               <i class="fa fa-plus"></i>New Event Detector
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 view-eds" [hidden]=openAddPageFlag>
            <div class="row">
                <div class="box-main expand-big mainTopTable">
                    <div class="right-side-table" style="position: relative;">
                        <ul class="nav nav-tabs" role="tablist" id="listTab">
                            <li class="nav-item" *ngFor="let tabz of eventListTabs;let i = index">
                                <a class="nav-link" id="{{tabz.shortName}}LiTab" href="javascript:;" [class.active]="tabz.active" role="tab" data-toggle="tab"
                               (click)="setTabParameters(tabz.shortName,i);">{{tabz.title}}</a>
                            </li>
                        </ul>
                        <div class="expand" onclick="expandDiv('expand-div', 'crud-div')" (click)="eventDetectorFlag = !eventDetectorFlag;setLargeListFlag()"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand':eventDetectorFlag,'fa-compress':!eventDetectorFlag}" (window:resize)="changeSizeFromViewPort();"></i></a></div>
                        <!-- Tab panes -->
                        <div id="tabContentMainDiv" class="style-4 tab-content expand-div wide-div">
                            <context-menu></context-menu>
                            <div role="tabpanel" class="tab-pane" id="produc" [class.show]="eventListTabs[0].active" [class.active]="eventListTabs[0].active">
                                <div class="row">
                                    <input class="col-md-2" style="margin-left: 15px;" #gbProd [(ngModel)]="configSearchProd" type="text" placeholder="Search"
                                           dnd-droppable (onDropSuccess)="searchData($event,'prod')">
                                           <div class="col-md-9 pl-0" *ngIf="prodSuppSearchList?.length > 0">
                                        <div class="dropElementZone">
                                            <span class="Rectangle-6127" *ngFor="let suppSearch of prodSuppSearchList">
                                                  <i class="fa fa-remove" (click)="removeSearch(suppSearch,'prod')"></i> {{suppSearch}}
                                            </span> &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <!--Data Table-->
                                <div class="overflow-x">
                                    <div *ngIf="productionEventDetectorList?.length > 0 ">
                                        <p-dataTable #prodTable selectionMode="single" [rows]="20" [paginator]="true" (onRowSelect)="openUpdateTemplate($event)"
                                            (onRowUnselect)="clearObjects()" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                            [globalFilter]="gbProd" [value]="productionEventDetectorList" sortMode="multiple">
                                            <p-column [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="eventName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car,i)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="priority" header="Priority" [sortable]="true" [style]="{'width':'75px','text-align':'center'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="feedName" header="Feed" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="eventType" header="Type" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="maxLatency" header="Latency" [sortable]="false" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}} {{car["maxLatencyUnit"]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionRule" header="Suppression" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div *ngFor="let supp of car[col.field]" dnd-draggable [dragEnabled]="true" [dragData]="supp">
                                                        <span class="suppNameSpan" [ngClass]="{'filter-text-highlight': (prodSuppSearchList.indexOf(supp.suppressionName) > -1),'supp-selected':(supp.suppressionName == selectedProdSupp)}"
                                                            (click)="onSuppressionNameClick('prodTable',supp.suppressionName)">{{supp.suppressionName}}</span>
                                                        <br>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="timeWindow" header="Timing" [sortable]="false" [style]="{'width':'140px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <ng-container *ngFor="let timing of car[col.field]">
                                                        <span>{{DayMapper[timing.timeWindowDay]}} {{convertDateInAmPm(timing.startTime)}} - {{convertDateInAmPm(timing.endTime)}}</span><br>
                                                    </ng-container>

                                                </ng-template>
                                            </p-column>
                                            <p-column field="consumerName" header="Consumer" [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" *ngIf="car['status']== 'PRODUCTION'">LIVE</span>
                                                        <span class="sim-icon" *ngIf="car['status']== 'SIMULATION'">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                        <div class="speech" *ngIf="selectedProdSupp && (upperInstance > 0 || belowInstance > 0)">
                                            <div *ngIf="upperInstance > 0">{{upperInstance}} instances of <br/> <span class="supp-selected-popover">{{selectedProdSupp}}</span>                                                <br/>highlighted above &nbsp;&nbsp;<i (click)="scrollUpTable()" class="fa fa-angle-up "></i></div>
                                            <div *ngIf="belowInstance > 0">{{belowInstance}} instances of <br/> <span class="supp-selected-popover">{{selectedProdSupp}}</span>                                                <br/>highlighted below &nbsp;&nbsp;<i (click)="scrollDownTable()" class="fa fa-angle-down "></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="productionEventDetectorList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Event Detector List</p> <span>
                                            <span [ngClass]="{'add-white':!updateAccess,'add-red':updateAccess}" style="cursor: pointer" (click)="updateAccess && openAddPage()">Add</span> a new Event Detector</span>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="simul" [class.show]="eventListTabs[1].active" [class.active]="eventListTabs[1].active">
                                <div class="row">
                                    <input class="col-md-2" style="margin-left: 15px;" #gbSimul [(ngModel)]="configSearchSimul" type="text" placeholder="Search"
                                           dnd-droppable (onDropSuccess)="searchData($event,'simul')">
                                           <div class="col-md-9 pl-0" *ngIf="simulSuppSearchList?.length > 0">
                                        <div class="dropElementZone">
                                            <span class="Rectangle-6127" *ngFor="let suppSearch of simulSuppSearchList">
                                                  <i class="fa fa-remove" (click)="removeSearch(suppSearch,'simul')"></i> {{suppSearch}}
                                            </span> &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <!--Data Table-->
                                <div class="overflow-x">
                                    <div *ngIf="simulationEventDetectorList?.length > 0 ">
                                        <p-dataTable #simulTable [rows]="20" [paginator]="true" [pageLinks]="3" (onRowUnselect)="clearObjects()" (onRowSelect)="openUpdateTemplate($event)"
                                            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [globalFilter]="gbSimul"
                                            [value]="simulationEventDetectorList" sortMode="multiple">
                                            <p-column [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="eventName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car,i)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="priority" header="Priority" [sortable]="true" [style]="{'width':'75px','text-align':'center'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="feedName" header="Feed" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="eventType" header="Type" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="maxLatency" header="Latency" [sortable]="false" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}} {{car["maxLatencyUnit"]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionRule" header="Suppression" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div *ngFor="let supp of car[col.field]" dnd-draggable [dragEnabled]="true" [dragData]="supp">
                                                        <span class="suppNameSpan" [ngClass]="{'filter-text-highlight': (simulSuppSearchList.indexOf(supp.suppressionName) > -1),'supp-selected':(supp.suppressionName == selectedSimulSupp)}"
                                                            (click)="onSuppressionNameClick('simulTable',supp.suppressionName)">{{supp.suppressionName}}</span>
                                                        <br>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="timeWindow" header="Timing" [sortable]="false" [style]="{'width':'140px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <ng-container *ngFor="let timing of car[col.field]">
                                                        <span>{{DayMapper[timing.timeWindowDay]}} {{convertDateInAmPm(timing.startTime)}} - {{convertDateInAmPm(timing.endTime)}}</span><br>
                                                    </ng-container>

                                                </ng-template>
                                            </p-column>
                                            <p-column field="consumerName" header="Consumer" [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" *ngIf="car['status']== 'PRODUCTION'">LIVE</span>
                                                        <span class="sim-icon" *ngIf="car['status']== 'SIMULATION'">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                        <div class="speech" *ngIf="selectedSimulSupp && (upperInstance > 0 || belowInstance > 0)">
                                            <div *ngIf="upperInstance > 0">{{upperInstance}} instances of <br/> <span class="supp-selected-popover">{{selectedSimulSupp}}</span>                                                <br/>highlighted above &nbsp;&nbsp;<i (click)="scrollUpTable()" class="fa fa-angle-up "></i></div>
                                            <div *ngIf="belowInstance > 0">{{belowInstance}} instances of <br/> <span class="supp-selected-popover">{{selectedSimulSupp}}</span>                                                <br/>highlighted below &nbsp;&nbsp;<i (click)="scrollDownTable()" class="fa fa-angle-down "></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="simulationEventDetectorList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Event Detector List</p> <span>
                                            <span [ngClass]="{'add-white':!updateAccess,'add-red':updateAccess}" style="cursor: pointer" (click)="updateAccess && openAddPage()">Add</span> a new Event Detector</span>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="config" [class.show]="eventListTabs[2].active" [class.active]="eventListTabs[2].active">
                                <div class="row">
                                    <input class="col-md-2" style="margin-left: 15px;" #gbConfig [(ngModel)]="configSearch" type="text" placeholder="Search"
                                           dnd-droppable (onDropSuccess)="searchData($event,'config')">
                                           <div class="col-md-9 pl-0" *ngIf="configSuppSearchList?.length > 0">
                                        <div class="dropElementZone">
                                            <span class="Rectangle-6127" *ngFor="let suppSearch of configSuppSearchList">
                                                  <i class="fa fa-remove" (click)="removeSearch(suppSearch,'config')"></i> {{suppSearch}}
                                            </span> &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <!--Data Table-->
                                <div class="overflow-x">
                                    <div *ngIf="configurationEventDetectorList?.length > 0 ">
                                        <p-dataTable [rows]="20" [paginator]="true" [pageLinks]="3" #configTable (onRowSelect)="openUpdateTemplate($event)" (onRowUnselect)="clearObjects()"
                                            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" id="configTable" [globalFilter]="gbConfig"
                                            [value]="configurationEventDetectorList" sortMode="multiple">
                                            <p-column [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="eventName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car,i)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="feedName" header="Feed" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="eventType" header="Type" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="maxLatency" header="Latency" [sortable]="false" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}} {{car["maxLatencyUnit"]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionRule" header="Suppression" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div *ngFor="let supp of car[col.field]" dnd-draggable [dragEnabled]="true" [dragData]="supp">
                                                        <span class="suppNameSpan" [ngClass]="{'filter-text-highlight': (configSuppSearchList.indexOf(supp.suppressionName) > -1),'supp-selected':(supp.suppressionName == selectedConfigSupp)}"
                                                            (click)="onSuppressionNameClick('configTable',supp.suppressionName)">{{supp.suppressionName}}</span>                                                        <br>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="timeWindow" header="Timing" [sortable]="false" [style]="{'width':'140px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <ng-container *ngFor="let timing of car[col.field]">
                                                        <span>{{DayMapper[timing.timeWindowDay]}} {{convertDateInAmPm(timing.startTime)}} - {{convertDateInAmPm(timing.endTime)}}</span><br>
                                                    </ng-container>

                                                </ng-template>
                                            </p-column>
                                            <p-column field="consumerName" header="Consumer" [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'60px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'80px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" *ngIf="car['status']== 'PRODUCTION'">LIVE</span>
                                                        <span class="sim-icon" *ngIf="car['status']== 'SIMULATION'">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                        <div class="speech" *ngIf="selectedConfigSupp && (upperInstance > 0 || belowInstance > 0)">
                                            <div *ngIf="upperInstance > 0">{{upperInstance}} instances of <br/> <span class="supp-selected-popover">{{selectedConfigSupp}}</span>                                                <br/>highlighted above &nbsp;&nbsp;<i (click)="scrollUpTable()" class="fa fa-angle-up "></i></div>
                                            <div *ngIf="belowInstance > 0">{{belowInstance}} instances of <br/> <span class="supp-selected-popover">{{selectedConfigSupp}}</span>                                                <br/>highlighted below &nbsp;&nbsp;<i (click)="scrollDownTable()" class="fa fa-angle-down "></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="configurationEventDetectorList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Event Detector List</p> <span>
                                            <span [ngClass]="{'add-white':!updateAccess,'add-red':updateAccess}" style="cursor: pointer" (click)="updateAccess && openAddPage()">Add</span> a new Event Detector</span>
                                    </div>
                                </div>
                                <!-- End Data Table -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" [hidden]="!showUpdateScreen" class="crud-div">
            <div class="mrt-10">
                <div class="row">
                    <div class="col-sm-12 col-md-3" style="margin-right: -15px;padding-right:8px;">
                        <div id="tabMainDiv" class="box-main expand-big">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="toolsNavTab" role="tablist" style="margin-bottom: 5px;">
                                <li class="nav-item" *ngFor="let tabz of toolsListTabs;let i = index">
                                    <a class="nav-link" id="{{tabz.shortName}}LiTab" href="javascript:;" [class.active]="tabz.active" (click)="setToolTab(i)"
                                   role="tab" data-toggle="tab">{{tabz.title}}</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content fix-height-385 style-4 scrollbar w-100" id="tools" (window:resize)="changeSizeFromViewPort();">
                                <div class="tab-pane" id="feedTab" role="tabpanel" [class.active]="toolsListTabs[0].active">
                                    <div class="w-100 row">
                                        <div class="col-sm-12 pr-0">
                                            <input [(ngModel)]="feedsQuery" type="search" placeholder="Search " (keyup)="openFeedsDrop(feedsQuery,$event)">
                                        </div>
                                    </div>
                                    <ul class="left-box-list dropdown-menu caretmenu">
                                        <li class="dropdown-submenu">
                                            <a id="realtime" href="javascript:;" (click)="changeState('realtime',$event)"><i class="close-caret"></i> Real-Time</a>
                                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0">
                                                <ng-container *ngFor="let data of dataSet | uniqFilter: 'name' | filterarray:feedsQuery">
                                                    <li #container1 style="margin-right: 0px;display:inline-block;position:relative" class="dropdown-li w-100" (dblclick)="transferFeedDataSuccess(data)" dnd-draggable [dragEnabled]="true" [dropZones]="['feedZone']"
                                                        *ngIf="data.parenttype == 'Feeds' && data.type == 'REALTIME'" [dragData]="data">
                                                        <a class="drop-menu-item" href="javascript:;" [appendTo]="container1" pTooltip="{{data.name}}" tooltipPosition="bottom">
                                                            <div class="feed-name font-14"><i class="fa fa-arrows"></i>{{data.name}}</div>
                                                        </a>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a id="batch" href="javascript:;" (click)="changeState('batch',$event)"><i class="close-caret"></i> Batch</a>
                                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0">
                                                <ng-container *ngFor="let data of dataSet | filterarray:feedsQuery">
                                                    <li #container2 style="margin-right: 0px;display:inline-block;position:relative" 
                                                        class="dropdown-li w-100" (dblclick)="transferFeedDataSuccess(data)" dnd-draggable 
                                                        [dragEnabled]="true" [dropZones]="['feedZone']"
                                                        *ngIf="data.parenttype == 'Feeds' && data.type == 'BATCH'" [dragData]="data">
                                                        <a class="drop-menu-item" href="javascript:;" [appendTo]="container2"  pTooltip="{{data.name}}" tooltipPosition="bottom"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="suppTab" role="tabpanel" [class.active]="toolsListTabs[1].active">
                                    <div class="w-100 row">
                                        <div class="col-sm-10 pr-0">
                                            <input [(ngModel)]="suppQuery" type="search" placeholder="Search ">
                                        </div>
                                        <div class="col-sm-2 pr-0 text-left "><a class="addBtn" href="javascript:;" [routerLink]="['/suppressions']"><i class="fa fa-plus"></i></a>                                            </div>
                                    </div>
                                    <div class="drag-tab">
                                        <ul class="left-box-list dropdown-menu caretmenu" style="margin-top: 0px">
                                            <ng-container *ngFor="let data of dataSet | filterarray:suppQuery">
                                                <li (dblclick)="transferSuppressionDataSuccess(data)" dnd-draggable [dragEnabled]="true" [dropZones]="['SuppressionZone']"
                                                    *ngIf="data.parenttype == 'Suppressions'" [dragData]="data">
                                                    <a class="drop-menu-item" href="javascript:;"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" id="consTab" role="tabpanel" [class.active]="toolsListTabs[2].active">
                                    <div class="w-100 row">
                                        <div class="col-sm-12 pr-0">
                                            <input [(ngModel)]="consQuery" type="search" placeholder="Search ">
                                        </div>
                                    </div>
                                    <div class="drag-tab">
                                        <ul class="left-box-list dropdown-menu caretmenu" style="margin-top: 0px">
                                            <ng-container *ngFor="let data of dataSet | filterarray:consQuery">
                                                <li (dblclick)="transferConsumersDataSuccess(data)" dnd-draggable [dragEnabled]="true" 
                                                    [dropZones]="['ConsumersZone']" *ngIf="data.parenttype == 'Consumers'"
                                                    [dragData]="data">
                                                    <a class="drop-menu-item" href="javascript:;"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9" style="padding-right: 0px">
                        <div class="box-main">
                            <div class="activation-box-main">
                                <div class="activation-box-main-heading" style="margin-bottom: 5px;">Config Space
                                    <div class="expand" onclick="expandDiv('crud-div', 'view-eds')" (click)="togglePage()"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand': !showEnlargedScreen,'fa-compress': showEnlargedScreen}"></i></a></div>
                                </div>
                                <form id="eventForm" novalidate="" #eventDetectorForm="ngForm" (ngSubmit)="onSubmit(eventDetectorForm)" class="style-4 scrollbar">
                                    <div class="pd-20 style-4" *ngIf="!showEnlargedScreen" id="eventDetConfig" [ngStyle]="{'pointer-events':eventDetectorObj.updatable ? '' : 'none'}">
                                        <div class="activation-box-inner-3">
                                            <div class="activation-box mb-5">
                                                <label for="eventDetectorName">Name</label>
                                                <div class="clearfix"></div>
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <input id="eventDetectorName" [ngClass]="{'error-box':eventDetectorName.errors && submittedFlag && eventDetectorName.errors.required}"
                                                               required #eventDetectorName="ngModel" name="eventDetectorName" type="text"
                                                               class="col-sm-7 grey-bold-text" [(ngModel)]="eventDetectorObj.eventName">
                                                               <p class="col-sm-5" style="line-height: 30px;padding-left: 10px;">v{{eventDetectorObj.version | number:'1.1-1'}}</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="activation-box min-height-100">
                                                <label for="Description">Description</label>
                                                <textarea id="eventDetectorDesc" [ngClass]="{'error-box':eventDetectorDesc.errors && submittedFlag && eventDetectorDesc.errors.required}"
                                                          required #eventDetectorDesc="ngModel" name="eventDetectorDesc" class="w-100 grey-text"
                                                          [(ngModel)]="eventDetectorObj.description"></textarea>
                                            </div>
                                            <div class="activation-box feeds">
                                                <label>Feed</label>
                                                <div class="bordered-box" *ngIf="!eventDetectorObj.feedName" [ngClass]="{'error-box':submittedFlag}">
                                                    <div class="drag-txt" dnd-droppable [dropZones]="['feedZone']" (onDropSuccess)="transferFeedDataSuccess($event.dragData)">
                                                         <p><i class="fa fa-arrows"></i> Drag Feeds Here</p>
                                                    </div>
                                                </div>
                                                <div id="dropFeeds" class="drag-item" *ngIf="eventDetectorObj.feedName">
                                                    <div class="drag-item">
                                                        <div dnd-droppable [dropZones]="['feedZone']" (onDropSuccess)="transferFeedDataSuccess($event.dragData)">
                                                             <div class="drag-block ml-0 f1" #containerfeed style="margin-right: 0px;display:inline-block;position:relative">
                                                                <div class="feed-name-role" style="text-transform: none" [appendTo]="containerfeed" pTooltip="{{eventDetectorObj.feedName}}" tooltipPosition="bottom">{{eventDetectorObj.feedName}}</div>
                                                                <div class="drag-block-name text-capitalize"> {{eventDetectorObj.eventType | lowercase}}</div>
                                                            </div>
                                                            <button type="button" class="red-btn w-20" style="font-size: 13px;pointer-events:auto" (click)="dynamicPopUp()" *ngIf="eventDetectorObj.feedName">Criteria</button>
                                                            <button type="button" class="white-btn w-20" style="font-size: 13px" (click)="dynamicPopUp()" *ngIf="!eventDetectorObj.feedName">Criteria</button>
                                                        </div>
                                                    </div>
                                                    <span *ngIf="(!eventDetectorObj.criteriaExpression || eventDetectorObj.criteriaExpression == null || eventDetectorObj.criteriaExpression == '' || eventDetectorObj.criteriaExpression == emptyCriteria || eventDetectorObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag"
                                                        [ngClass]="{'color-red':(!eventDetectorObj.criteriaExpression || eventDetectorObj.criteriaExpression == null || eventDetectorObj.criteriaExpression == '' || eventDetectorObj.criteriaExpression == emptyCriteria || eventDetectorObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag}">Criteria is mandatory</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="activation-box-inner-3 ml-mr-5">
                                            <div class="w-100">
                                                <!-- Supperssion Rules -->
                                                <div class="activation-box suppression">
                                                    <label>Suppressions</label>
                                                    <div class="bordered-box">
                                                        <div class="drag-txt" dnd-droppable [dropZones]="['SuppressionZone']" (onDropSuccess)="transferSuppressionDataSuccess($event.dragData)">
                                                             <div class="drag-rules">
                                                                <p><i class="fa fa-arrows"></i> Drag Suppressions Here</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="dropSuppressionArea" class="style-4 drag-item scrscrollbar height-170" *ngIf="eventDetectorObj.suppressionRule.length > 0">
                                                        <ul class="drag-ul" dnd-sortable-container [sortableData]="eventDetectorObj.suppressionRule">
                                                            <li dnd-sortable [sortableIndex]="i" *ngFor="let suppres of eventDetectorObj.suppressionRule;let i = index">
                                                            <span class="square-box">{{i+1}}</span>
                                                                <div class="drag-block">
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-arrows"></i>{{suppres.suppressionName}}
                                                                    </a>
                                                                    <i class="pull-right fa fa-remove" (click)="removeSuppression(i)"></i>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="activation-box-inner-3">
                                            <div class="activation-box mb-5">
                                                <div class="activation-box">
                                                    <label for="activateDate">Active Times</label>
                                                </div>
                                                <div class="activateDate">
                                                    <ul>
                                                        <li *ngFor="let dayObj of weekSmDays;let i = index;" [ngClass]="{active: i === timeIndex}">
                                                            <a href="javascript:;" (click)="changeModel(i)">{{dayObj.day}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="activateDateFormate">
                                                    <ul>
                                                        <li>
                                                            <input id="startHr{{timeIndex}}" name="startHr{{timeIndex}}" type="text" class="br-r-b" [(ngModel)]="timingObjList[timeIndex].startHrTime"
                                                                   [numbersOnly]="''" maxNumber="11">
                                                            <span class="seprater">:</span>
                                                            <input id="startMin{{timeIndex}}" name="startMin{{timeIndex}}" type="text" class="br-t-l" [(ngModel)]="timingObjList[timeIndex].startMinTime"
                                                                   [numbersOnly]="''" maxNumber="59">
                                                            <select id="startMeridian{{timeIndex}}" name="startMeridian{{timeIndex}}" [(ngModel)]="timingObjList[timeIndex].startMeridian">
                                                                <option value="am">AM</option>
                                                                <option value="pm">PM</option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <input id="endHr{{timeIndex}}" name="endHr{{timeIndex}}" type="text" class="br-r-b" [(ngModel)]="timingObjList[timeIndex].endHrTime"
                                                                   [numbersOnly]="''" maxNumber="11">
                                                            <span class="seprater">:</span>
                                                            <input id="endMin{{timeIndex}}" name="endMin{{timeIndex}}" type="text" class="br-t-l" [(ngModel)]="timingObjList[timeIndex].endMinTime"
                                                                   [numbersOnly]="''" maxNumber="59">
                                                            <select id="endMeridian{{timeIndex}}" name="endMeridian{{timeIndex}}" [(ngModel)]="timingObjList[timeIndex].endMeridian">
                                                                <option value="am">AM</option>
                                                                <option value="pm">PM</option>
                                                            </select>
                                                        </li>
                                                    </ul>
                                                    <div *ngIf="!timingValidFlag && submittedFlag">
                                                        <span style="color: red">Active Times are Invalid</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Latancy. -->
                                            <div class="activation-box latency">
                                                <div class="activation-box">
                                                    <label for="latency">Latency</label>
                                                </div>
                                                <input id="latency" name="latency" type="text" [numbersOnly]="''" [(ngModel)]="eventDetectorObj.maxLatency">
                                                <select id="latencyUnit" name="latencyUnit" [(ngModel)]="eventDetectorObj.maxLatencyUnit">
                                                    <option value="DAYS">Days</option>
                                                    <option value="HOURS">Hours</option>
                                                    <option value="MINUTES">Minutes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="activation-box-inner-3">
                                            <div class="activation-box mb-5 excluded-date">
                                                <div class="activation-box">
                                                    <label for="">Excluded Dates</label>
                                                </div>
                                                <p-calendar id="excludeDate" class="clear" name="excludeDate" [(ngModel)]="excludeDateVal" (onSelect)="addDateToArray(excludeDateVal)"
                                                            dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                                                <div id="excludeDateDiv" class="style-4 dateExcludemin scrollbar">
                                                    <div class="dateExclude" *ngFor="let dateObj of eventDetectorObj.exclusionDates;let i = index;">
                                                         <span>{{dateObj.exclusionDate| date : 'yMMMd'}}</span>
                                                        <div class="recursive">
                                                            <label class="switch pull-right">
                                                                <input id="excludeRec{{i}}" name="excludeRec{{i}}" [(ngModel)]="dateObj.recursive"  type="checkbox">
                                                                <div class="slider round"></div>
                                                            </label>
                                                        </div>

                                                        <i class="fa fa-close" (click)="removeExcludeDates(i)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Latancy. -->
                                            <div class="activation-box consumer">
                                                <div class="activation-box">
                                                    <label for="">Consumer</label>
                                                </div>
                                                <div class="bordered-box" *ngIf="!eventDetectorObj.consumerName" [ngClass]="{'error-box':submittedFlag}">
                                                    <div class="drag-txt" dnd-droppable [dropZones]="['ConsumersZone']" (onDropSuccess)="transferConsumersDataSuccess($event.dragData)">
                                                         <p><i class="fa fa-arrows"></i> Drag Consumer Here</p>
                                                    </div>
                                                </div>
                                                <div id="dropConsumers" class="drag-item" *ngIf="eventDetectorObj.consumerName">
                                                    <ul class="drag-ul">
                                                        <div dnd-droppable [dropZones]="['ConsumersZone']" (onDropSuccess)="transferConsumersDataSuccess($event.dragData)">
                                                             <div class="drag-block w-100 font-12">{{eventDetectorObj.consumerName}}
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 clearfix footer-button">
                                            <div class="float-right">
                                                <button type="button" [ngClass]="{'white-btn':!eventDetectorObj.publishable || (!form.dirty && !dirtyFlag),'pink-btn':eventDetectorObj.publishable || (form.dirty || dirtyFlag)}"
                                                        [disabled]="!eventDetectorObj.publishable || (!form.dirty && !dirtyFlag)"
                                                        (click)="onPublish(eventDetectorForm)">Publish</button>
                                                <button type="button" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'purple-btn':(form.dirty || dirtyFlag)}" [disabled]="(!form.dirty && !dirtyFlag)"
                                                        (click)="checkCancelChanges();">Cancel</button>
                                                <button type="submit" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'pink-btn':(form.dirty || dirtyFlag)}" [disabled]="(!form.dirty && !dirtyFlag)">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="enlargedEventDiv" class="style-4 w-100 fix-height-555" *ngIf="(showEnlargedScreen || openAddPageFlag)"
                                         (window:resize)="changeSizeFromViewPort();">
                                         <div class="eventCreatForm" [ngStyle]="{'pointer-events':eventDetectorObj.updatable ? '' : 'none'}">
                                            <div class="eventCreatFormTitle">
                                                <h5>Create a New Event Detector</h5>
                                                <p>Fill in the configuration criteria below to save a new Event Detector to
                                                    Drafts.
                                                </p>
                                            </div>
                                            <div class="creatEventForm">
                                                <div class="col-sm-12">
                                                    <div class=" form-group">
                                                        <div class="row">
                                                            <label for="eventDetectorName" class="col-sm-12 pl-0">Name</label>
                                                            <input id="eventDetectorName" type="text" class=" col-md-3 col-sm-9" name="eventDetectorName" [ngClass]="{'error-box':eventDetectorName.errors && submittedFlag && eventDetectorName.errors.required}"
                                                                   required #eventDetectorName="ngModel" name="eventDetectorName"
                                                                   [(ngModel)]="eventDetectorObj.eventName" placeholder="New Event Detector">
                                                                   <p class="col-sm-3 col-md-2">v{{eventDetectorObj.version | number:'1.1-1'}}</p>
                                                        </div>
                                                    </div>
                                                    <div class=" form-group">
                                                        <div class="row">
                                                            <label for="name" class="col-sm-12 pl-0">Description</label>
                                                            <textarea id="eventDetectorDesc" #eventDetectorDesc="ngModel" name="eventDetectorDesc" [(ngModel)]="eventDetectorObj.description"
                                                                      class=" col-sm-3" placeholder="New Event Description"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class=" form-group">
                                                        <div class="row">
                                                            <label for="name" class="col-sm-12 pl-0">Feed</label>
                                                            <div class="bordered-box col-sm-2" *ngIf="!eventDetectorObj.feedName" [ngClass]="{'error-box':submittedFlag}">
                                                                <div class="drag-txt" dnd-droppable [dropZones]="['feedZone']" (onDropSuccess)="transferFeedDataSuccess($event.dragData)">
                                                                     <p><i class="fa fa-arrows"></i> Drag Feed Here</p>
                                                                </div>
                                                            </div>
                                                            <div id="dropFeeds" class="drag-item" *ngIf="eventDetectorObj.feedName">
                                                                <div class="drag-item">
                                                                    <div dnd-droppable [dropZones]="['feedZone']" (onDropSuccess)="transferFeedDataSuccess($event.dragData)">
                                                                         <div class="dropped-feeds">
                                                                            <div class=" small drag-block ml-0 f1 font-14">{{eventDetectorObj.feedName}}&emsp;
                                                                                <div class="drag-block-name font-14 text-capitalize" style="width: auto;"> {{eventDetectorObj.eventType | lowercase}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" form-group">
                                                        <div class="row">
                                                            <button type="button" class="red-btn" style="font-size: 13px;pointer-events:auto" (click)="dynamicPopUp()" *ngIf="eventDetectorObj.feedName">Criteria</button>
                                                            <button type="button" class="white-btn" style="font-size: 13px" (click)="dynamicPopUp()" *ngIf="!eventDetectorObj.feedName">Criteria</button>
                                                        </div>
                                                    </div>
                                                    <div class=" form-group">
                                                        <div class="row">
                                                            <span *ngIf="(!eventDetectorObj.criteriaExpression || eventDetectorObj.criteriaExpression == null || eventDetectorObj.criteriaExpression == ''|| eventDetectorObj.criteriaExpression == emptyCriteria || eventDetectorObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag"
                                                                [ngClass]="{'color-red':(!eventDetectorObj.criteriaExpression || eventDetectorObj.criteriaExpression == null || eventDetectorObj.criteriaExpression == ''|| eventDetectorObj.criteriaExpression == emptyCriteria || eventDetectorObj.criteriaExpression == emptyCriteriaWithoutgrp) && submittedFlag}">Criteria is mandatory</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row latency">
                                                            <div class="activation-box">
                                                                <label>Latency</label>
                                                            </div>
                                                            <div class="col-sm-12 col-md-3 pl-0">
                                                                <input id="latencyLg" name="latencyLg" type="text" [numbersOnly]="''" [(ngModel)]="eventDetectorObj.maxLatency">
                                                                <select id="latencyUnit" name="latencyUnit" [(ngModel)]="eventDetectorObj.maxLatencyUnit">
                                                                    <option value="DAYS">Days</option>
                                                                    <option value="HOURS">Hours</option>
                                                                    <option value="MINUTES">Minutes</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <div class="suppression row">
                                                            <label class="col-sm-12 pl-0">Suppressions</label>
                                                            <div class="bordered-box col-sm-12 col-md-3">
                                                                <div class="drag-txt" dnd-droppable [dropZones]="['SuppressionZone']" (onDropSuccess)="transferSuppressionDataSuccess($event.dragData)">
                                                                     <p><i class="fa fa-arrows"></i> Drag Suppressions Here</p>
                                                                </div>
                                                            </div>
                                                            <div id="dropSuppressionAreaDiv" class="drag-item" *ngIf="eventDetectorObj.suppressionRule.length > 0">
                                                                <ul class="drag-ul" dnd-sortable-container [sortableData]="eventDetectorObj.suppressionRule">
                                                                    <li dnd-sortable [sortableIndex]="i" *ngFor="let suppres of eventDetectorObj.suppressionRule;let i = index">
                                                                    <span class="square-box">{{i+1}}</span>
                                                                        <div class="dropped-suppressions">
                                                                            <div class="drag-block">
                                                                                <a href="javascript:;" class="font-14">
                                                                                    <i class="fa fa-arrows"></i>{{suppres.suppressionName}}
                                                                                </a>
                                                                                <i class=" pull-right fa fa-remove" (click)="removeSuppression(i)"></i>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <div class="row activation">
                                                            <div class="col-sm-12 col-md-5 pl-0">
                                                                <div class="activation-box">
                                                                    <h5>Active Times</h5>
                                                                </div>
                                                                <ul class="times-day">
                                                                    <li *ngFor="let day of weekDays;let i = index;">
                                                                        <span class="day">{{day.day}}</span>
                                                                        <div class="timeSlot">
                                                                            <input id="startHrLg{{i}}" name="startHrLg{{i}}" type="text" class="br-r-b" [(ngModel)]="timingObjList[i].startHrTime" [numbersOnly]="''"
                                                                                   maxNumber="11">
                                                                            <span class="seprater">:</span>
                                                                            <input id="startMinLg{{i}}" name="startMinLg{{i}}" type="text" class="br-t-l" [(ngModel)]="timingObjList[i].startMinTime"
                                                                                   [numbersOnly]="''" maxNumber="59">
                                                                            <select class="ampm" id="startMeridianLg{{i}}" name="startMeridianLg{{i}}" [(ngModel)]="timingObjList[i].startMeridian">
                                                                                <option value="am">AM</option>
                                                                                <option value="pm">PM</option>
                                                                            </select>
                                                                            <span class="seprater">-</span>
                                                                            <input id="endHrLg{{i}}" name="endHrLg{{i}}" type="text" class="br-r-b" [(ngModel)]="timingObjList[i].endHrTime" [numbersOnly]="''"
                                                                                   maxNumber="11">
                                                                            <span class="seprater">:</span>
                                                                            <input id="endMinLg{{i}}" name="endMinLg{{i}}" type="text" class="br-t-l" [(ngModel)]="timingObjList[i].endMinTime" [numbersOnly]="''"
                                                                                   maxNumber="59">
                                                                            <select class="ampm" id="endMeridianLg{{i}}" name="endMeridianLg{{i}}" [(ngModel)]="timingObjList[i].endMeridian">
                                                                                <option value="am">AM</option>
                                                                                <option value="pm">PM</option>
                                                                            </select>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group clearfix" style="margin-bottom: 0px;">
                                                        <div class="suppression row" style="margin-top: 0px;margin-bottom: 0px">
                                                            <label class="col-sm-12 pl-0">Excluded Dates</label>
                                                            <div class="col-md-3 pl-0">
                                                                <p-calendar id="excludeDate" class="clear" name="excludeDate" [(ngModel)]="excludeDateVal" (onSelect)="addDateToArray(excludeDateVal)"
                                                                            dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span>
                                                            </div>
                                                            <div id="excludeDateDivLarge" class="pl-0 col-md-3">
                                                                <div class="dateExclude" *ngFor="let dateObj of eventDetectorObj.exclusionDates;let i = index;">
                                                                     <span>{{dateObj.exclusionDate| date : 'yMMMd'}}</span>
                                                                    <div class="recursive">
                                                                        <label class="switch pull-right">
                                                                            <input id="excludeRec{{i}}" name="excludeRec{{i}}" [(ngModel)]="dateObj.recursive"  type="checkbox">
                                                                            <div class="slider round"></div>
                                                                        </label>
                                                                    </div>
                                                                    <i class="fa fa-close" (click)="removeExcludeDates(i)"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <div class="row consumer">
                                                            <div class="activation-box">
                                                                <label>Consumer</label>
                                                            </div>
                                                            <div class="bordered-box col-sm-12 col-md-3" *ngIf="!eventDetectorObj.consumerName" [ngClass]="{'error-box':submittedFlag}">
                                                                <div class="drag-txt" dnd-droppable [dropZones]="['ConsumersZone']" (onDropSuccess)="transferConsumersDataSuccess($event.dragData)">
                                                                     <p><i class="fa fa-arrows"></i> Drag Consumer Here</p>
                                                                </div>
                                                            </div>
                                                            <div id="dropConsumers" class="drag-item" *ngIf="eventDetectorObj.consumerName">
                                                                <ul class="drag-ul" style="margin-top: 0px">
                                                                    <div dnd-droppable [dropZones]="['ConsumersZone']" (onDropSuccess)="transferConsumersDataSuccess($event.dragData)">
                                                                         <div class="dropped-consumers">
                                                                            <div class="drag-block w-100 font-14" style="text-transform: none">{{eventDetectorObj.consumerName}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w-100 clearfix footer-button">
                                                    <div class="float-right">
                                                        <button type="button" [ngClass]="{'white-btn':!eventDetectorObj.publishable || (!form.dirty && !dirtyFlag),'pink-btn':eventDetectorObj.publishable || (form.dirty || dirtyFlag)}"
                                                                [disabled]="!eventDetectorObj.publishable || (!form.dirty && !dirtyFlag)"
                                                                (click)="onPublish(eventDetectorForm)">Publish</button>
                                                        <button type="button" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'purple-btn':(form.dirty || dirtyFlag)}" (click)="checkCancelChanges();">Cancel</button>
                                                        <button type="submit" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'pink-btn':(form.dirty || dirtyFlag)}" [disabled]="(!form.dirty && !dirtyFlag)">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog class="p-rule-model" header="Rule Builder" [(visible)]="ruleBuilderEdDisplay" modal="modal" responsive="true" [resizable]="false" [closable]="false">
    <div class="row" id="dialogHeight">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-3" style="padding-right:0px">
                    <div id="ruleBuilderMainDiv" class="box-main expand-big w-100 ">
                        <div  class="activation-box-main-heading">Elements </div>
                        <div id="ruleBuilderMainDiv1" class="tab-content w-100 style-4 scrollbar">
                            <div class="w-100 ">
                                <div class="col-sm-11 pr-0">
                                    <input class="general-input" type="search" placeholder="Search" [(ngModel)]="elementsQuery" (keyup)="openCriteriaTools(elementsQuery,$event)">
                                </div>
                            </div>
                            <ul class="left-box-list display-inline dropdown-menu caretmenu " style="padding-right: 0px;">
                                <li class="dropdown-submenu">
                                    <a id="feed" #rt href="javascript:;" (click)="changeState('feed',$event)"><i class="close-caret"></i> Feeds</a>
                                    <ul class="dropdown-menu left-side-submenu" style="padding-right: 10px;">
                                        <ng-container *ngFor="let data of feedMap[eventDetectorObj.feedName] | filterarray:elementsQuery: 'paramName'">
                                            <li #container3 style="margin-right: 0px;display:inline-block;position:relative" class="dropdown-li w-100 " dnd-draggable
                                                [dragEnabled]="true" [dropZones]="['ruleFieldZone']" *ngIf="data.parenttype == 'Feeds' && data.type == 'REALTIME'"
                                                [dragData]="data">
                                                <a class="drop-menu-item" tabindex="-1" href="javascript:;" [appendTo]="container3" pTooltip="{{data.paramName}}" tooltipPosition="bottom"><i class="fa fa-arrows"></i>{{data.paramName}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="test" #rt href="javascript:;" tabindex="-1" (click)="changeState('BDNA',$event)" id="BDNA"><i class="close-caret"></i> Behavioral DNA</a>
                                    <ul class="dropdown-menu sub-ul-left" style="float: left;width: 100%;">
                                        <li class="dropdown-submenu" *ngFor="let bdnas of behavioralDnas">
                                            <a id="{{bdnas | replaceSpaces}}" href="javascript:;" (click)="changeState(bdnas,$event)"><i class="close-caret"></i>{{bdnas}}</a>
                                            <ul class="dropdown-menu left-side-submenu" style="padding-right: 10px;">
                                                <ng-container *ngFor="let data of dataSet | filterarray:elementsQuery">
                                                    <li #container style="margin-right: 0px;display:inline-block;position:relative" class="dropdown-li" dnd-draggable [dragEnabled]="true"
                                                        [dropZones]="['ruleFieldZone']" *ngIf="data.type == 'BDNA' && data.parenttype == bdnas"
                                                        [dragData]="data">
                                                        <a class="drop-menu-item" href="javascript:;" [appendTo]="container" pTooltip="{{data.name}}" tooltipPosition="bottom"><i class="fa fa-arrows"></i>{{data.name}}</a>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div id="dragAreaDiv" class=" w-100 box-main">
                        <div class="activation-box-main-heading">Builder </div>
                        <form>
                            <fieldset [disabled]="!eventDetectorObj.updatable">
                                <div id="dragAreaDiv1" class="style-4 w-100 scrollbar">
                                    <div class="eventCreatForm">
                                        <div class="eventCreatFormTitle">
                                            <h5>Build or Edit a Rule</h5>
                                            <p>Drag and drop items from the Elements panel and add conditions</p>
                                        </div>
                                    </div>
                                    <div class="pl-pr-15">
                                        <div class="eventCreatBox">
                                            <div class="eventCreatBoxHeader">
                                                <h6>
                                                    <div class="text-center" *ngIf="!criteriaExp">Rule Expression</div>
                                                    <div class="text-center" *ngIf="criteriaExp" [innerHTML]="criteriaExp"></div>
                                                </h6>
                                            </div>
                                            <div class="w-100 eventCreatBoxContainer scrollbar">
                                                <h6>
                                                    <query-builder [group]="filter.group" [parentGrp]="group" [grpIndex]="i" (groupChange)="ongroupChanged($event)"></query-builder>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="w-100 clearfix footer-button">
                            <div class="float-right">
                                <button class="purple-btn" (click)="cancelRulePopup()">Cancel</button>
                                <button [ngClass]="{'pink-btn':eventDetectorObj.updatable,'white-btn':!eventDetectorObj.updatable}" [disabled]="!eventDetectorObj.updatable" class="mr-2" (click)="eventDetectorObj.updatable && saveRule()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<!--  Role Builder Model -->
<!--<div class="modal fade" id="ruleBuilderModal" tabindex="-1" role="dialog" aria-labelledby="ruleBuilderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>-->
<p-dialog class="p-model" header="Archive Confirmation" [(visible)]="archiveEdDisplay" modal="modal" width="500" responsive="true">
    Are you sure you want to archive <b>{{modalContent.eventName}}</b> event Detector?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="archiveEdDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="archiveEventDetector()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Delete Confirmation" [(visible)]="deleteEdDisplay" modal="modal" width="500" responsive="true">
    Are you sure you want to delete <b>{{modalContent.eventName}}</b> event Detector?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="deleteEdDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="deleteEventDetector()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Cancel Confirmation" [(visible)]="cancelEdDisplay" modal="modal" width="500" responsive="true">
    You have unsaved changes. Are you sure you want to cancel changes in <b>{{eventDetectorObj.eventName}}</b> event Detector?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="rejectEdTraversalChanges()">No</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'changeEditCancel'" (click)="cancelUpdateChanges()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'cancelEdChanges'" (click)="cancelEventDetector()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'cancelAddChanges'" (click)="cancelAddChanges()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
